@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

#typingHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    font-size: 50px;
    animation: fadeIn 2s ease-in-out;
}

.header {
    color: white;
    text-align: center;
    font-size: 100px;
}

.container {
    opacity: 0;
    animation: fadeIn 1s 2.5s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

#searchGif {
    text-align: center;
    background-color: white;
    padding: 30px 80px;
    font-size: 20px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
}

#gif1{
    padding-top: 20px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin-top: 10px;
}

.btnHidden{
    display: none;
}

#saveButton, #regenerateButton, #newSearchButton {
    border-radius: 15px;
    background-color: #A6C1FF;
    color: black;
    border: none;
    padding: 12px 55px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#saveButton:hover, #regenerateButton:hover, #newSearchButton:hover {
    background-color: #000952 ; 
    color: white;
    transform: scale(1.15);
}


@media only screen and (max-width: 600px){

@keyframes typing {
    from { width: 0 }
    to { width: 65% }
}

.header {
    font-size: 60px; 
}

#typingHeader {
    animation: typing 1.0s steps(100, end), fadeOut 0.5s 1.5s;
}

.hidden{
    display: none;
}

#searchGif{
    padding: 30px 60px;
    font-size: 20px; 
}

.container {
    opacity: 0;
    animation: fadeIn 0.5s 2.0s forwards;
}

/* #gif1 {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.buttonContainer {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
}

#saveButton {
    margin-top: 15px;
}
}