@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fadeOut {
    from { opacity: 1 }
    to { opacity: 0 }
}


.hidden{
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: black;
}

#typingHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .15em solid purple;
    border-left: .15em solid purple;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    font-size: 22px;
    animation: typing 4s steps(40, end), fadeOut 1s 4s;
}

.header {
    color: white;
    text-align: center;
}

.container {
    opacity: 0;
    animation: fadeIn 1s 4s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labelTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    padding: 10px;
}

#searchGif {
    text-align: center;
    background-color: white;
}

#searchButton {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#gif1{
    padding-top: 20px;
}
